body {
    background-image: url("../images/39149.jpg");
    /* background-size:cover; */
    color:black;
    height: auto;
    width: 100%;
    background-size:100%;
}

#main-title {
    font-size: xx-large;
    color:wheat;
    font-family: 'OCR A Extended', sans-serif;
    text-align: center;
    margin: 0;
    background-image: linear-gradient(to right, #3C4CA6, #2D1040, #0D0D0D);
    border-radius: 6px;
    padding: 3px 6px;
}

#input-container {
    color:wheat;
    font-family: 'OCR A Extended', sans-serif;
    padding-top: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
}

#input-results {
    text-align: center;
}

/* forecast container */
div > h2 {
    color:wheat;
    font-family: 'OCR A Extended', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#message-text {
    font-size: 1.0rem;
    font-weight: lighter;
    text-align: center;
    background-color:#3C4CA6;
    width: 80%;
    margin: 0 auto;
}

#forecast-container {
   
    width: 95%;
    margin: 0 auto;
}

#forecast-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.col-2 {
    color:wheat;
    border: wheat 2px solid;
    font-family: 'OCR A Extended', sans-serif;
    text-align: center;
    width: 20%;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #0D0D0D;
}
/* forecast message */
h3 {
    color:wheat;
    font-family: 'OCR A Extended', sans-serif;
    margin-left: 2.4rem;
    font-size: 1.5rem;
}
#countdown {
    color:wheat;
    font-style: italic;
    font-family: 'OCR A Extended', sans-serif;
    margin-left: 2.5rem;
    font-size: 2rem;
    padding-top: 2rem;
}

hr {
    border:solid 1px wheat;
    width: 80%;
    color: wheat;
    height: 1px;
}

footer {
    background-image: url("../images/astronaut-drinking-carlsberg-on-moon-hd-desktop-wallpaper.jpg");
    background-size: cover;
    min-height: 657px;
}

.footer {
    display: flex;
    padding-bottom: 25px;
    padding-top: 647px;
}

footer span {
    background-color: black;
    color: white;
}

strong {
    color: chartreuse;
}
#input-results {
    margin-left: 2.5rem;
}

.text {
    backdrop-filter: blur(10px);
    text-align: center;
}


