h1 {
    font-size: 8rem;
    text-align: center;
}

/* padding for two placeholder continers */
.container {
    padding: 2rem;
    padding-block: transparent;  
}
.select-menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    border-radius: 8% !important;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin: 3em 1em 1em 1em;
}

#locations {
    padding: 0.3rem;
    color: black;
}

#locations option {
    color: black;
}

#launch-name-label {
    padding-top: 1rem;
}

#launch-name {
    padding: 0.3rem;
}

#date-input {
    padding: 0.3rem;
    width: 45%;
}

#map{
    height: 95%;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 1em 1em 1em 1em;
    z-index: 50;
}

#build-heading {
    font-size: 2rem;
    text-align: center;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    display: none;
}

.leaflet-popup-content{
    color: black;
}

h1,h2,h3,h4,h5,h6 {
    color:wheat;
    font-family: 'OCR A Extended', sans-serif;   
}

* {
    color:white;
    font-family: 'OCR A Extended', sans-serif;
}

body {
    background-image: url("../images/planets-background.png");
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

.notification-is-primary {
    background-color: #3C4CA6;
     border-radius: 25%;
}

footer {
    background-image: url("../images/stars-background.jpeg");
    background-size: cover;
}

strong {
    color: rgb(95, 248, 110);
}

button, input, select, textarea { 
    color: black;
    font-weight: bold;
}
button {
    background-color: #000;
    border: .5px solid crimson;
    border-radius: 10px;
    color: #fff;
    padding: 8px;
}

button:hover{
    box-shadow: 0 0 30px 0 crimson,
    0 0 30px 0 crimson,
    0 0 10px 0 crimson inset;
}

/* launch data container styling */
#launch-heading {
    font-size: 2rem;
    text-align: center;
}

#launch-data-container {
    width: 100%; 
    display: flex;
    flex-direction: row;
    align-items: center;
}

#launch-photo {
    width: 50%;
    padding-right: 2rem;
}

#launch-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 50%;
    height: 19rem;
    align-content: center;
}

#launchCard {
    flex-grow: 1;
    border: 1px black solid;
    padding: 1.5rem;
    text-align: center;

}

/* <-- modal styling -->  */
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 575px;
    position: absolute;
    z-index: 100;
    top: 20%;
    background-color: rgb(244, 126, 126);
    border: 1px solid #ddd;
    border-radius: 15px;
    top: 500px;
    bottom: 200px;
    left: 500px;
  }
  
  .modal .flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-bottom: 40px;
  }
  
  .modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  .modal p {
    font-size: 17px;
    color: black;
    margin: 0.4rem 0 0.2rem;
    font-weight: bolder;
  }
  
  button .btn-close {
    cursor: pointer;
    border: none;
    font-weight: 600;
  }
  
  .ok {
    position: absolute;
    object-position: center;
    left: 175px;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
  }
  
  .btn-open {
    bottom: 150px;
  }
  
  .btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background:black;
    border-radius: 50%;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 100;
  }

  .hidden {
    display: none;
  }

.not   {
    text-decoration: underline;
    text-decoration-style: double;
    font-weight:900;
    color: rgb(172, 17, 17);
}

.entertainment {
    font-weight: 900;
    color: rgb(172, 17, 17);
}

h2.warning {
    font-size: xx-large;
    color: rgb(63, 4, 4);
    font-weight: bolder;
    text-decoration: underline;
}